<div class="row">

  <div class="hidden-xs col-sm-12">
    <div class="center-block">

      <div class="page-header">
        <h2>以下のように投稿します</h2>
      </div>

      <%= render 'form_confirm' %>

    </div>
  </div>

</div>
