<div class="row">
  <div class="col-md-12">
    <div class="center-block">
    <br>
    <div class="link_to_new" >
      <%= link_to new_picture_path, method: :get do %>
        <i class="fa fa-plus">新しく投稿する</i>
      <% end %>
    </div>
    <br>
    <% @pictures.order(created_at: :DESC).each do |picture| %>
      <%= render partial: "post", locals: { picture: picture } %>
    <% end %>

    </div>
  </div>
</div>
