<div class="row">
  <div class="hidden-xs col-sm-12">
    <div class="center-block">

      <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
      <% end %>

      <%= render partial: "post", locals: { picture: @picture } %>

      <% if @picture.favorite_users.present? %>
          <div class="list-group-item">
            <strong>いいね！したユーザ </strong>
            <% @picture.favorite_users.each do |favuser| %>
              <span class="label label-success"><%= favuser.name %></span>
            <% end %>
          </div>
      <% end %>

    </div>
  </div>
</div>
