<h2>InstagramCloneに新しく投稿しました</h2>
<p><%= @picture.user.name %>さん、投稿が完了しました。</p>
<br>
<p>投稿した内容はこちらからご確認ください</p>
<p><a href="https://afternoon-retreat-19040.herokuapp.com/pictures/">InstagramClone</a></p>
<p><%= @picture.updated_at %>に投稿されました。</p>
<br>
<footer class="footer">
  <p class="text-muted text-center">everydayphoto</p>
  <p class="text-muted text-center">© 2018 Copyright</p>
</footer>
