.panel {
  width: 350px;
}

.login_container{
  margin: 110px 0;
}

.form-row .form-group {
  margin-bottom: 20px;
}

.logo_size {
  margin: 20px 0;
}

.title_border {
display: flex;
align-items: center;
}
.title_border:before,
.title_border:after {
border-top: 1px solid;
content: "";
flex-grow: 1;
}
.title_border:before {
margin-right: 1rem;
}
.title_border:after {
margin-left: 1rem;
}
