html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 50px;
  margin-bottom: 5em;
  background-color: #fcfcfc;
}

footer {
  bottom: 0;
  height: 5em;
  position: absolute;
  padding: 15px;
  width: 100%;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 1px 0px 0px;
}

.navbar {
  width: 100%;
}

div.input-group {
  width: 100%;
}

div.center-block {
  width: 600px;
}

.thum {
  position: relative;
  width: 100%;
  /*　トリミングしたい枠の幅（固定にしたい場合はサイズを入力）　*/
  padding-top: 100%;
  /*　トリミングしたい枠の高さ（固定にしたい場合はサイズを入力）　*/
  overflow: hidden;
  /*　画像が枠からはみ出た部分はトリミング（非表示）する　*/
  margin: 0 auto 10px;
}

.thum img {
  /* 画像を上下左右に中央配置する（絶対指定） */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* 画像の最大サイズは枠のx倍まで */
  max-width: 150%;
  max-height: 150%;
}

p.comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5% 2%;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: rgba(0,0,0, .0);
  text-align: center;
  box-sizing: border-box;
}

a:hover img {
  opacity: 0.7;
}

.field_with_errors {
  display: contents;
  .has-error {
    background-color: pink;
  }
}
